.contenedor {
    border:1px solid red;    
    height: 20%;
    position: absolute;
    width: 100%;
    top: 40%;
}

.pelota2 {
    width: 16%;
    height: 100%;    
    border-radius: 50%;
    position: absolute;
       
    transition: 1s;

    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
  
  }

.pelota2.a {

    background-color: red;
    left:0;

}

.pelota2.b {

    background-color: blue;
    right:0;

}

  
.contenedor:hover .pelota2.a {
    
    left: calc(50% - 16%);
}
.contenedor:hover .pelota2.b {
    
    right: calc(50% - 16%);
}